<component name="ArtifactManager">
  <artifact type="war" name="mybatis-cascade-demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="cascade-1.0.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis-cascade-demo:war exploded" />
    </root>
  </artifact>
</component>